body {
    display: flex;
    flex-direction: column;
}

.container {
    
        display: flex;
        flex-direction: row;
        width: 100%;
        margin: 0px;
        border: 1px solid white;
        justify-content: center;
        position: relative;
        flex-wrap: nowrap;
        align-items: flex-start;
    
}

.logo {
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: flex-start;
margin: 15px;
}


.header-menu ul {
display: flex;
list-style: none;
width: 100%;
flex-wrap: wrap;
align-content: flex-start;
flex-direction: column;
margin-left: -40px;
}

.header-menu a {
margin: 0px;
}

.subcontainer {
max-width: 100%;
height: 830px;
margin-top: -130px;
margin-bottom: 30px;
}



h3 {
    margin-left: 15px;
}

.menup {
    margin-left: 60px;
}


.menu {
    margin-top: 0px;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    word-spacing: 90px;
    justify-content: space-around;
}